<h1>Editing bucket</h1>

<% form_for(@bucket) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :extra %><br />
    <%= f.text_area :extra %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bucket %> |
<%= link_to 'Back', buckets_path %>